<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styl_registrace.css')}}" type = "text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Registrace</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <nav class="nav nav-pills nav-fill">
                    <div class="col-2">
                        <a class = "nav-link" href ="{{ url_for('index') }}">PojištěníApp</a>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <a class = "nav-link" href="{{ url_for('pojistenci') }}">Pojištěnci</a>
                    </div>
                    <div class="col">
                        <a class = "nav-link" href="{{ url_for('pojisteni') }}">Pojištění</a>
                    </div>
                    <div class="col">
                        <a class = "nav-link" href="{{ url_for('udalosti') }}">Události</a>
                    </div>
                    <div class="col-2">
                        <a class = "nav-link" href="{{ url_for('oaplikaci') }}">O aplikaci...</a>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <a class = "nav-link active" aria-current="page" href="{{ url_for('registrace') }}">Registrace</a>
                    </div>
                    <div class="col">
                        {% if current_user.is_authenticated %}
                        <div class="list-group-item">{{ current_user.prijmeni }}
                        <a href="{{ url_for('odhlasit') }}" class="list-group-item">Odhlásit</a>
                        {% else %}
                        <a class = "nav-link" href="{{ url_for('prihlasit') }}">Přihlásit</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" 
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pojistenci') }}">Pojištěnci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pojisteni') }}">Pojištění</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('udalosti') }}">Události</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('oaplikaci') }}">O aplikaci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('registrace') }}">Registrace</a>
                        </li>
                        <li class="nav-item">
                            {% if current_user.is_authenticated %}<span class="nav-link">{{current_user.prijmeni}}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('odhlasit') }}">Odhlásit</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('prihlasit') }}">Přihlásit</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <article>
        <div class="zarovnani">
            <h1>Email je již registrován</h1>
        </div>
            <form action="/registrace", method="POST">
                {{form.csrf_token}}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="centered-form">
                                <div class="form-group">
                                    <label for="jmeno">Jméno:</label>
                                        {{form.jmeno(class="form-control")}}
                                </div>
                                <div class="form-group">
                                    <label for="prijmeni">Příjmení:</label>
                                        {{form.prijmeni(class="form-control")}}
                                </div>
                            </div>
                            <div class="centered-form">
                                <div class="form-group">
                                    <label for="heslo">Heslo:</label>
                                        {{form.heslo(class="form-control")}}
                                </div>
                                <div class="form-group">
                                    <label for="potvrzeni_hesla">Potvrzení hesla:</label>
                                        {{form.potvrzeni_hesla(class="form-control")}}
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email:</label>
                                        {{form.email(class="form-control")}}
                                </div>
                            </div>
                        <div class = "zarovnani">
                            <button type="submit" class="btn btn-primary">Registrovat</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </article>
</body>
</html>