<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styl_detail_pojisteni.css')}}" type = "text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osoba</title>
</head>
<body>
    <header>
        <div class ="navigace">
            <a href ="{{ url_for('index') }}">PojištěníApp</a>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('pojistenci') }}">Pojištěnci</a></li>
                        <li><a href="{{ url_for('pojisteni') }}">Pojištění</a></li>
                        <li><a href="události.html">Události</a></li>
                        <li><a href="oaplikaci.html">O aplikaci...</a></li>
                    </ul>
                </nav>
            </div>
            <div class= "registrace"><a href="registrace.html" class = "registrace">Registrace</a>
            <a href="prihlasit.html" class = "registrace">Přihlásit</a></div>    
    </header>
    <article>
        <h1>Detail pojištění</h1>
        <div class ="zarovnani_udaje">
            <img src = "{{ url_for('static', filename='/obrazky/fotka.jpg') }}", height="10%", width="5%">
            <div>
                <table border = "1">
                <thead>
                    <tr>
                        <td >Název</td>
                        <td >Částka</td>
                        <td >Předmět</td>
                        <td >Platnost od</td>
                        <td >Platnost do</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >{{ pojisteni.nazev }}</td>
                    <td >{{ pojisteni.castka }}</td>
                    <td >{{ pojisteni.predmet }}</td>
                    <td >{{ pojisteni.platnost_od }}</td>
                    <td >{{ pojisteni.platnost_do }}</td>

                </tr>
                    
            </tbody>
            </table>
            </div>
        </div>

        <div class = "zarovnani">
            <h4><a href="">Přidat pojištění</a></h4>
            <h4 class = "editovat_klapky"><a href="">Editovat pojištěnce</a></h4>
            <h4 class = "odstranit_klapky"><a href="pojisteni.html">Odstranit pojištěnce</a></h4>
        </div>    
    </article>

    <footer class = "footer">
        Vytvořil &copy;MN 2023 pro <a href="https://github.com/MNespurek/Pojistovna">MNPojisťovna</a>
    </footer>


</body>
</html>