<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styl_detail_pojisteni.css')}}" type = "text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detail pojištění</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <nav class="nav nav-pills nav-fill">
                    <div class="col-2">
                        <a class = "nav-link" href ="{{ url_for('index') }}">PojištěníApp</a>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <a class = "nav-link" href="{{ url_for('pojistenci') }}">Pojištěnci</a>
                    </div>
                    <div class="col">
                        <a class = "nav-link active" aria-current="page" href="{{ url_for('pojisteni') }}">Pojištění</a>
                    </div>
                    <div class="col">
                        <a class = "nav-link" href="{{ url_for('udalosti') }}">Události</a>
                    </div>
                    <div class="col-2">
                        <a class = "nav-link" href="{{ url_for('oaplikaci') }}">O aplikaci...</a>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <a class = "nav-link" href="{{ url_for('registrace') }}">Registrace</a>
                    </div>
                    <div class="col">
                        {% if current_user.is_authenticated %}
                        <div class="list-group-item">{{ current_user.prijmeni }}
                        <a href="{{ url_for('odhlasit') }}" class="list-group-item">Odhlásit</a>
                        {% else %}
                        <a class = "nav-link" href="{{ url_for('prihlasit') }}">Přihlásit</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" 
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pojistenci') }}">Pojištěnci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('pojisteni') }}">Pojištění</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('udalosti') }}">Události</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('oaplikaci') }}">O aplikaci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('registrace') }}">Registrace</a>
                        </li>
                        <li class="nav-item">
                            {% if current_user.is_authenticated %}<span class="nav-link">{{current_user.prijmeni}}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('odhlasit') }}">Odhlásit</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('prihlasit') }}">Přihlásit</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <article>
        <h1>Detail pojištění</h1>
        <div class ="obrazek_udaje">
            <img src = "{{ obrazek }}" height="80px" width="80px">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2" scope = "row">{{ pojisteni.nazev }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" scope = "row" >{{ pojisteni.castka }} {{ pojisteni.predmet }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" scope = "row">{{ pojisteni.platnost_od }} {{ pojisteni.platnost_do }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class = "zarovnani">
            <h5 class="nova_klapka"><a href="{{ url_for('nove_pojisteni', id_pojistenec = pojisteni.id_pojistenec) }}">Přidat pojištění</a></h5>
            <h5  class = "editovat_klapky"><a href="{{ url_for('editace_pojisteni', id_pojisteni = pojisteni.id_pojisteni) }}">Editovat pojištění</a></h5>
            <h5 class = "odstranit_klapky" ><a href="{{ url_for('smazat_pojisteni', id_pojisteni = pojisteni.id_pojisteni) }}">Odstranit pojištění</a></h5>
        </div>    
    </article>
</body>
</html>