<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styl_pojistenci.css')}}" type = "text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pojištěnci</title>
</head>
<body>
    <header>
        <div class ="navigace">
            <a href ="{{ url_for('index') }}">PojištěníApp</a>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('pojistenci') }}">Pojištěnci</a></li>
                        <li><a href="{{ url_for('pojisteni') }}">Pojištění</a></li>
                        <li><a href="události.html">Události</a></li>
                        <li><a href="oaplikaci.html">O aplikaci...</a></li>
                    </ul>
                </nav>
            </div>
            <div class= "registrace"><a href="registrace.html" class = "registrace">Registrace</a>
            <a href="prihlasit.html" class = "registrace">Přihlásit</a></div>    
    </header>
    <article>
        <h1>Pojištěnci</h1>
        <div class = "zarovnani">
            <h4><a href = "{{ url_for('novy_pojistenec') }}">Nový pojištěnec</a></h4>
        </div>
        <div class = "zarovnani">
                 
            <table border = "1">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Bydliště</th>
                    <th>Možnost</th>
                </tr>
            </thead>
            <tbody>
                {% for pojistenec in seznam_pojistencu %}
                <tr>
                    
                    <td><a href="{{ url_for('pojistenec', id_pojistenec = pojistenec.id_pojistenec) }}">{{ pojistenec.jmeno}} {{ pojistenec.prijmeni }}</a></td>
                    <td>{{ pojistenec.mesto }}</td>
                    
                    <td><a href="{{ url_for('editace', id_pojistenec = pojistenec.id_pojistenec)}}" class = "editovat">Editovat</a> <a href=" {{ url_for('smazat_pojistence', id_pojistenec = pojistenec.id_pojistenec)}}" class = "odstranit">Odstranit</a></td>
                </tr>
                

                {% endfor %}

            </tbody>
        </table>
        
        </div>
        </div>
        <div class = "zarovnani">
            
            {{ pagination.links }}
            
        </div>
    </article>

    <footer class = "footer">
        Vytvořil &copy;MN 2023 pro <a href="https://github.com/MNespurek/Pojistovna">MNPojisťovna</a>
    </footer>


</body>
</html>