<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styl_prihlasit.css')}}" type = "text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení</title>
</head>
<body>
    <header>
        <div class ="navigace">
            <a href ="{{ url_for('index') }}">PojištěníApp</a>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('pojistenci') }}">Pojištěnci</a></li>
                        <li><a href="{{ url_for('pojisteni') }}">Pojištění</a></li>
                        <li><a href="události.html">Události</a></li>
                        <li><a href="oaplikaci.html">O aplikaci...</a></li>
                    </ul>
                </nav>
            </div>
            <div class= "registrace"><a href="registrace.html" class = "registrace">Registrace</a>
            <a href="prihlasit.html" class = "registrace">Přihlásit</a></div>    
    </header>
    <article>
        <h1>Přihlášení - připravujeme</h1>
            <p></p>
        <div class = "zarovnani">
        <form>
            <label for="fname">Jméno</label>
            <p class  = "mezera0"></p>
            <input type="text" id = "fname" name = "fname" class = "label">
            <p></p>
            <label for="fname">Email</label>
            <p class  = "mezera0"></p>
            <input type="text" id = "fname" name = "fname" class = "label">
        </form>
        <form>
            <label for="fname">Příjmení</label>
            <p class  = "mezera0"></p>
            <input type="text" id = "fname" name = "fname" class = "label">
            <p></p>
            <label for="fname">Heslo</label>
            <p class  = "mezera0"></p>
            <input type="text" id = "fname" name = "fname" class = "label">
        </form>
        </div>
        </section>
        <div class = "stred"><h4>Uložit</h4></div>
    </article>
    <footer class = "footer">
        Vytvořil &copy;MN 2023 pro <a href="https://github.com/MNespurek/Pojistovna">MNPojisťovna</a>
    </footer>


</body>
</html>