.obrazek_udaje {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.editovat {
    background-color: goldenrod;
    color: white;
    padding: 10px;
    margin-right: 25px;
    border-radius: 15px;
    text-decoration: none;
}
.editovat:hover {
background-color: rgb(105, 80, 16);
}
.odstranit {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}
.odstranit:hover {
    background-color:rgb(114, 3, 3);
    }

.editovat_klapky:hover {
background-color: rgb(105, 80, 16);
}

.editovat_klapky{
    background-color: goldenrod;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: max-content;
}
.odstranit_klapky:hover {
    background-color:rgb(114, 3, 3);
    }

.odstranit_klapky {
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: max-content;
 
}

h1 {
    text-align: center;
    margin-top: 20px;
}


header {
    height: 100px;
    width: 100%;
    background: rgb(238, 232, 232);
    font-size: 1.5em;
    align-items: center;
}

.nav {
    margin-top: 5px;
}

h5 {
    font-family: Arial;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.nova_klapka {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 15px;
    
    width: max-content;
}
.nova_klapka:hover {
    background-color: rgb(7, 7, 80);
}
h5 a {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

article {
    background-color: white;
    width: 100%;
    margin-left: 10px;
    height: 380px;
  
}

body {
    padding: 0px;
    margin: 0px;
}

.table {
    border-collapse: collapse;
    vertical-align: middle;
}

.zarovnani {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    gap: 30px;
    

}
tr, th, td {
    text-align: center;
    height: 4em;
}

.navbar {
    display: none;
}

@media (max-width: 990px) {
    header .container {
        display: none;
    
    }
    .navbar {
        display: flex;
        background: rgb(238, 232, 232);
    header {
        width: 400px;
    }    

    }
    nav ul {
        gap: 0px;
        
    }
    .bg-body-tertiary {
        --bs-tertiary-bg-rgb: 238,232,232;
    }
    .navbar-nav {
        --bs-nav-link-color: rgb(13 110 253 / 65%);
        --bs-nav-link-hover-color: rgb (10, 88, 202);
    }
    
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: rgb(13 110 253);
    }
    article {
        margin-left: 0px;
        }

    }
    
@media (max-width: 720px) {
    h5 {
        font-size: 0.8rem;
    }
    .odstranit_klapky, .nova_klapka, .editovat_klapky {
        display: flex;
        align-items: center;
        padding: 5px;
    }
    .zarovnani {
        gap: 2px;
    }
}
@media (max-width: 470px) {
        .editovat {
          margin-bottom: 10px;
          margin-right: 0px;
          display: block;
        }
        .odstranit {
            display: block;
        }
        .td {
            height: 8em;
        }
        .table{
            height: 400px;
        }
        .tbody {
            height: 450px;
        }
        
    }      

    .container.text-center {
        margin-bottom: 20px;
        
    }