header {
    height: 100px;
    width: 100%;
    background: rgb(238, 232, 232);
    font-size: 1.5em;
    align-items: center;
}

.nav {
    margin-top: 5px;
}

.nav-link {
    text-align: center;
}

.nav .list-group-item:last-child {
    color: RGB(10, 88, 202);
    font-size: 1rem;
    margin-top: 7px;
    text-align: center;
    margin-left: 5px;
    
}


.nav a.list-group-item:last-child {
    margin: 0px;
    
}

h1, h4 {
    font-family: Arial;
    color: rgb(33, 37, 41);
    margin-top: 20px;
    z-index: 1;
    text-align: center;
}

h4 {
    margin-bottom: 0px;
}

h5 a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 15px;
    border-radius: 15px;
}

h5 :hover {
    background-color: rgb(7, 7, 80);
}

article {
    background-color: white;
    width: 100%;
    height: 380px;
}

.table {
    border-collapse: collapse;
    vertical-align: middle;
}

.red {
    color: red;
}

.centrovany {
    display: flex;
    justify-content: center;
}

.zarovnani {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

tr, th, td {
    text-align: center;
    height: 4em;
}

.navbar {
    display: none;
}

.col-4.offset-4 {
    padding: 15px;
    border: 1px solid rgb(222 226 230);
    border-color:rgb(222 226 230);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

article .col, .col-5  {
    padding: 15px;
    border: 1px solid rgb(222 226 230);
    margin: 15px;
    border-color:rgb(222 226 230);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.list-group-item {
    text-align: left;
}


@media (max-width: 990px) {
    header .container {
        display: none;
    }

    .nav-link:focus, .nav-link:hover {
        color: rgb(10, 88, 202);
    }

    .navbar {
        display: flex;
        background: rgb(238, 232, 232);
        z-index: 1;
        }
            
    .nav ul {
        gap: 0px;
    }

    .bg-body-tertiary {
        --bs-tertiary-bg-rgb: 238,232,232;
    }
    
    .navbar-nav {
        --bs-nav-link-color: rgb(13 110 253 / 65%);
    }
    
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: rgb(13 110 253);
    }
    
    article {
        z-index: 2;
    }
    
    .nav-link {
        text-align: left;
    }

    .col-4.offset-4 {
        padding: 0px;
        border: 1px solid rgb(222 226 230);
        border-color:rgb(222 226 230);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
}    

@media (max-width: 470px) {
    .editovat {
        margin-bottom: 10px;
        margin-right: 0px;
        display: block;
    }
    
    .odstranit {
        display: block;
    }
    
    .td {
        height: 8em;
    }
    
    .table {
        height: 400px;
    }
    
    .tbody {
        height: 450px;
    }
        
    .container.text-center {
        margin-bottom: 20px;
    }
}