header {
    height: 150px;
    width: 100%;
    background: grey;
    font-size: 1.5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}
h1 {
    font-family: Arial;
    color: rgb(45, 45, 124);
}

h4 {
    font-family: Arial;
    color: rgb(45, 45, 124)
}

ul {
    color: blue;
}
.navigace {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 30px;

}

.navigace a {
    text-decoration: none;
    list-style-type: none;
    color: white;

}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: space-evenly;
  
}
nav ul a {
    text-decoration: none;
      
}

.registrace {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}    


article {
    background-color: white;
    width: 100%;
    margin-left: 10px;
  
}

.footer {
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: grey;
    height: 100px;
}

body {
    padding: 0px;
    margin: 0px;
}
.select {
    width: 400px;
    height: 30px;
    margin: 0px;
    
}

.mezera0 {
    margin: 1px
}
.tabulka_pojisteni {
    width: 400px;
    
}
.zarovnani {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.label {
    height: 20px;
    width: 150px;
}
h4 {
    font-family: Arial;
    color: white;
    
    display: flex;
    justify-content: center;
    width: max-content;    
    background: blue;
    
    
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
}
.h4 {
    
    font-family: Arial;
    color: white;
    width: max-content;    
    background: blue;
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
}
.stred {
    display: flex;
    justify-content: center;
    
}