header {
    height: 100px;
    width: 100%;
    background: rgb(238, 232, 232);
    font-size: 1.5em;
    align-items: center;
    

}


h1 {
    font-family: Arial;
    color: rgb(45, 45, 124);
}

h4 {
    font-family: Arial;
    color: rgb(45, 45, 124)
}

ul {
    color: blue;
}
.navigace {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 30px;

}

.navigace a {
    text-decoration: none;
    list-style-type: none;
    color: white;

}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: space-evenly;
  
}
nav ul a {
    text-decoration: none;
      
}

.registrace {
    display: flex;
    gap: 10px;
    
    text-decoration: none;
    color: white;
    margin-right: 10px;
}    


article {
    background-color: white;
    
    margin-left: 10px;
  
}

.foto {
        float: right;
        margin-top: 80px;
        margin-left: 150px;
        width: 600px;
        
}
.cistic {
    clear: both;
}
.footer {
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: grey;
    height: 500px;
}

body {
    padding: 0px;
    margin: 0px;
    
}

.navbar {
    display: none;
}

.nav-link.disabled {
    color: rgba(183, 193, 203, 0.75);
    pointer-events: none;
    background-color: var(--bs-list-group-disabled-bg);
    
}

@media (max-width: 990px) {
    .container {
        display: none;
    }
    .navbar {
        display: flex;
        background: rgb(238, 232, 232);

    }
    nav ul {
        gap: 0px;
        
    }
    .bg-body-tertiary {
        --bs-tertiary-bg-rgb: 238,232,232;
    }
    .navbar-nav {
        --bs-nav-link-color: rgb(13 110 253 / 65%);
        --bs-nav-link-hover-color: rgb (10, 88, 202);
    }
    
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: rgb(13 110 253);
    }

    }
    
    
