header {
    height: 100px;
    width: 100%;
    background: rgb(238, 232, 232);
    font-size: 1.5em;
    align-items: center;
}

.nav {
    margin-top: 5px;
}

.nav-link {
    text-align: center;
}

.nav .list-group-item:last-child {
    color: RGB(10, 88, 202);
    font-size: 1rem;
    margin-top: 7px;
    text-align: center;
    margin-left: 5px;
}

.nav a.list-group-item:last-child {
    margin: 0px;
}

h5 {
    font-family: Arial;
    color: white;
    margin-top: 20px;
    width: max-content;
}

h5 a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 15px;
    border-radius: 15px;
}

h5 :hover {
    background-color: rgb(7, 7, 80);
}

ul {
    color: blue;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
  
article {
    background-color: white;
    width: 100%;
    margin-left: 10px;
    height: 380px;
}

.table {
    border-collapse: collapse;
    vertical-align: middle;
}

.zarovnani {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;

}
tr, th, td {
    text-align: center;
    height: 4em;
}

.navbar {
    display: none;
}

article .row {
    margin-top: 30px;
}

.centered-form {
    display: flex;
    gap: 30px;   
    justify-content: space-evenly;
}

.text-start {
    display: flex;
    gap: 30px;
}
    
.form-group {
    
    flex-basis: 50%;
    margin-bottom: 20px;
  }

  .full-width-group {
    flex-basis: 50%;
}

.nav-link.disabled {
    color: rgba(183, 193, 203, 0.75);
    pointer-events: none;
    background-color: var(--bs-list-group-disabled-bg);
}

.container.text-center {
    margin-bottom: 20px;
}

@media (max-width: 990px) {
    header .container {
        display: none;
    
    }
    .navbar {
        display: flex;
        background: rgb(238, 232, 232);
    }

    nav ul {
        gap: 0px;
    }

    .bg-body-tertiary {
        --bs-tertiary-bg-rgb: 238,232,232;
    }

    .navbar-nav {
        --bs-nav-link-color: rgb(13 110 253 / 65%);
        --bs-nav-link-hover-color: rgb (10, 88, 202);
    }
    
    .nav-link:focus, .nav-link:hover {
        color: rgb(10, 88, 202);
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: rgb(13 110 253);
    }

    article {
        margin-left: 0px;
    }
    }
    
@media (max-width: 470px) {
    .table{
        height: 400px;
    }
    .tbody {
        height: 450px;
    }
    }      
