header {
    height: 100px;
    width: 100%;
    background: rgb(238, 232, 232);
    font-size: 1.5em;
    align-items: center;
}

.nav {
    margin-top: 5px;
}

.nav-link {
    text-align: center;
}

.nav .list-group-item:last-child {
    color: RGB(10, 88, 202);
    font-size: 1rem;
    margin-top: 7px;
    text-align: center;
    margin-left: 5px;
}

.nav a.list-group-item:last-child {
    margin: 0px;
}

h1, h4 {
    font-family: Arial;
    color: rgb(33, 37, 41);
    margin-top: 20px;
    text-align: center;
}

h4 {
    margin-bottom: 0px;
}

h5 a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 15px;
    border-radius: 15px;
}

h5 :hover {
    background-color: rgb(7, 7, 80);
}

article {
    background-color: white;
    width: 100%;
    margin-left: 10px;
    height: 380px;
}

.table {
    border-collapse: collapse;
    vertical-align: middle;
}

.centrovany {
    display: flex;
    justify-content: center;
}

.zarovnani {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

tr, th, td {
    text-align: center;
    height: 4em;
}

.navbar {
    display: none;
}

article .col, .col-5 {
    padding: 15px;
    border: 1px solid rgb(222 226 230);
    margin: 15px;
    border-color:rgb(222 226 230);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.list-group-item {
    text-align: left;
}

@media (max-width: 990px) {
    header .container {
        display: none;
    }

    .navbar {
        display: flex;
        background: rgb(238, 232, 232);
    }

    nav ul {
        gap: 0px;
    }

    .nav-link:focus, .nav-link:hover {
        color: rgb(10, 88, 202);
    }
    
    .bg-body-tertiary {
        --bs-tertiary-bg-rgb: 238,232,232;
    }

    .navbar-nav {
        --bs-nav-link-color: rgb(13 110 253 / 65%);
        --bs-nav-link-hover-color: rgb (10, 88, 202);
    }
    
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: rgb(13 110 253);
    }

    article {
        margin-left: 0px;
    }
    }
    
@media (max-width: 470px) {
    .table{
        height: 400px;
    }
    .tbody {
        height: 450px;
    }
    }