<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styl_osoba.css')}}" type = "text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osoba</title>
</head>
<body>
    <header>
        <div class ="navigace">
            <a href ="{{ url_for('index') }}">PojištěníApp</a>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('pojistenci') }}">Pojištěnci</a></li>
                        <li><a href="{{ url_for('pojisteni') }}">Pojištění</a></li>
                        <li><a href="události.html">Události</a></li>
                        <li><a href="oaplikaci.html">O aplikaci...</a></li>
                    </ul>
                </nav>
            </div>
            <div class= "registrace"><a href="registrace.html" class = "registrace">Registrace</a>
            <a href="prihlasit.html" class = "registrace">Přihlásit</a></div>    
    </header>
    <article>
        <h1>Pojištěnci</h1>
        <div class ="obrazek_udaje">
            <img src = "{{ url_for('static', filename='/obrazky/fotka.jpg') }}" height="70px" width="70px">
            <div class = "zarovnani_udaje">
                <table>
                <thead>
                    <tr>
                        <th colspan="2" class = "udaje">{{ pojistenec.jmeno }} {{ pojistenec.prijmeni }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "udaje">
                    <td class = "udaje">{{ pojistenec.ulice }}</td>
                    <td class = "udaje">{{ pojistenec.email }}</td>
                </tr>
                <tr class = "udaje">
                    <td class = "udaje">{{ pojistenec.mesto }}</td>
                    <td class = "udaje">{{ pojistenec.telefon }}</td>
                </tr class = "udaje">
                <tr class = "udaje">    
                    <td colspan = "2" class = "udaje">{{ pojistenec.psc }}</td>
                </tr>
            </tbody>
            </table>
            </div>
            </div>
        <div class = "zarovnani">
            <table border = "1">
            <thead>
                <tr>
                    <th>Pojištění</th>
                    <th>Částka</th>
                    <th>Možnost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href = "pojisteni_majetku.html">Pojištění majetku</a></td>
                    <td>100 000 Kč</td>
                    <td><a href="editovat.html" class = "editovat">Editovat</a> <a href="odstranit.html" class = "odstranit">Odstranit</a></td>
                </tr>
                

            </tbody>
        </table>
        </div>
        <div class = "zarovnani">
            <h4><a href="pojisteni.html">Přidat pojištění</a></h4>
            <h4 class = "editovat_klapky"><a href="pojisteni.html">Editovat pojištěnce</a></h4>
            <h4 class = "odstranit_klapky"><a href="pojisteni.html">Odstranit pojištěnce</a></h4>
        </div>    
    </article>

    <footer class = "footer">
        Vytvořil &copy;MN 2023 pro <a href="https://github.com/MNespurek/Pojistovna">MNPojisťovna</a>
    </footer>


</body>
</html>