<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styl_udalosti.css')}}" type = "text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uložení</title>
</head>
<body>
    <header>
        <div class ="navigace">
            <a href ="{{ url_for('index') }}">PojištěníApp</a>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('pojistenci') }}">Pojištěnci</a></li>
                        <li><a href="{{ url_for('pojisteni') }}">Pojištění</a></li>
                        <li><a href="{{ url_for('udalosti') }}">Události</a></li>
                        <li><a href="{{ url_for('oaplikaci') }}">O aplikaci...</a></li>
                    </ul>
                </nav>
            </div>
            <div class= "registrace"><a href="registrace.html" class = "registrace">Registrace</a>
            <a href="prihlasit.html" class = "registrace">Přihlásit</a></div>    
    </header>
    <article>
        <h1>Data byla uložena do databáze</h1>
        
    </article>
    <footer class = "footer">
        Vytvořil &copy;MN 2023 pro <a href="https://github.com/MNespurek/Pojistovna">MNPojisťovna</a>
    </footer>


</body>
</html>